*{
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 89vh;
    background: linear-gradient(45deg, #f0f0f0 25%, transparent 25%, transparent 50%, #f0f0f0 50%, #f0f0f0 75%, transparent 75%, transparent);

 } 



